
body {
    background-color: #E0E0E2;
}

.navbar {
    width: auto;
    height: 80px;
    background-color: #666;;

    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

li a {
  
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111;
}